page-candidato {

}

.logoCab{
    text-align: right;
}

.logoCab img{
    width: 50px;
    height: 25px;
}

.buttonFill{
    color: #FFF !important;
    border-color: #2BB673;  
    background-color: #2BB673;

}