page-home {

}

.divButton{
    margin-top: 40px;
}

.logo{
    text-align: center;
    margin-top: 10%;
}
.logo img{
    width: 200px;
    height: 100px;
}

.button{
    color: #2BB673;
    border-color: #2BB673;  
}

.linkLogin{
    text-align: center;
    margin-top: 15%;
}

.linkLogin a{
    color: #585858;
    text-decoration: none;
}

.linkLogin a:hover{
    color: #4D4C4C;
    text-decoration: none;
}